body {
  margin: 0;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  background-color: #fff
}

.main_container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px -2px #000
}

a {
  text-decoration: none;
  color: #000
}

.visually_hidden:not(:focus):not(:active),input[type=checkbox].visually_hidden,input[type=radio].visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.map {
  display: block;
  width: 1200px;
  position: absolute;
  min-height: 594px;
  bottom: 0;
  left:0;
  z-index: 1;
  background-image: url(../img/map.jpg);
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cbdda9;
}

.map iframe {
  border: none
}

.find_hotel form {
  position: relative;
  height: 560px
}

.form_wrap {
  position: absolute;
  top: 86px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 1px 5px 1px rgba(0,1,1,.15)
}

.inner_page .choose_hotel {
  background-image: url(../img/main-blurred.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  color: #fff
}

.inner_page .current {
  color: #766357
}

.button {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  padding: 0 17px
}

.inner_page .more {
  background-color: #81b3d2
}

.inner_page .more:hover,.more:focus {
  background-color: #669ec0
}

.inner_page .more:active {
  color: hsla(0,0%,100%,.3)
}

.inner_page .book {
  background-color: #766357
}

.book:focus,.inner_page .book:hover {
  background-color: #604e43
}

.inner_page .book:active {
  color: hsla(0,0%,100%,.3)
}

.inner_page .rate {
  margin: 0;
  padding: 0;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666;
  vertical-align: middle;
  line-height: 27px
}

.inner_page .hotel_description span {
  display: block;
  max-width: 100px;
  max-height: 20px;
  overflow: hidden;
  color: #333
}

.inner_page .stars {
  margin: 0;
  padding: 0;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space
}

.inner_page .stars_1 {
  width: 85px
}

.inner_page .stars_2 {
  width: 65px
}

.inner_page .stars_3 {
  width: 40px
}

.hotel_name a:focus,.hotel_name a:hover {
  color: #81b3d2
}

.hotel_name a:active {
  color: rgba(0,0,0,.5)
}

.hotel_name {
  display: block;
  text-align: left;
  margin: 0;
  font-size: 21px;
  line-height: 18px;
  max-width: 300px;
  overflow: hidden;
}

.hotel_item img {
  display: block
}

.button_wrapper {
  font-size: 0
}

.rate_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end
}

.main_navigation {
  background-color: #fff
}

.nav {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px
}

.nav a {
  display: block;
  color: #000;
  padding: 1px;
  overflow: hidden;
}

.nav a:focus,.nav a:hover {
  color: #81b3d2
}

.nav a:active {
  color: rgba(0,0,0,.3)
}

.main_photo {
  min-height: 508px;
  position: relative;
  background-image: url(../img/main-back.jpg);
  background-color: blue;
  background-position: top;
  overflow: hidden
}

.main_photo,.main_photo:after {
  background-repeat: no-repeat;
  display: block;
  width: 1200px
}

.main_photo:after {
  position: absolute;
  content: "";
  height: 60px;
  background-image: url(../img/intro-mask.svg);
  background-position: bottom;
  bottom: 0
}

.description {
  background-color: #fff;
  margin-top: 61px
}

.sedona_info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 440px;
  margin: 0 auto
}

.great_sedona {
  color: #333;
  margin: 26px auto;
  margin-bottom: 50px;
  width: 490px;
  line-height: 26px
}

.advantages {
  width: 1200px;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  background-color: #fff
}

.true_city {
  display: flex;
  width: 400px;
  min-height: 256px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #81b3d2;
  color: #fff;
  padding-bottom: 10px
}

.background_adv {
  background-image: url(../img/sedona-1.jpg);
  background-position: 100%
}

.background_adv,.background_adv_2 {
  min-height: 256px;
  background-repeat: no-repeat;
  background-color: #81b3d2
}

.background_adv_2 {
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/sedona-2.jpg);
  background-position: 0
}

.advant_name {
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  margin: 0
}

.advant_text {
  margin: 0;
  margin-top: 21px;
  max-width: 305px;
  padding: 1px;
  overflow: hidden;
}

.true_city p {
  width: 305px
}

.advant_list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  min-height: 300px;
  background-color: #fff;
  padding-bottom: 30px
}

.advant_list .advant_text {
  margin-top: 24px
}

.advant_list div:first-child {
  margin-left: 45px
}

.advant_list div:last-child {
  margin-right: 45px
}

.advant_list_2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 256px;
  background-color: #eee
}

.advant_list_2 .advant_text {
  width: 275px
}

.advant_list_2 div:first-child {
  margin-left: 63px
}

.advant_list_2 div:last-child {
  margin-right: 63px
}

.advant_list_2 {
  padding-bottom: 60px;
  padding-top: 50px;
  max-height: 256px;
  box-sizing: border-box
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.advant_list .advant_name {
  margin: 0;
  margin-top: 30px
}

.advant_list .icon {
  padding-top: 55px;
  order: -1
}

.interested {
  font-size: 30px;
  line-height: 36px;
  margin-top: 53px;
  margin-bottom: 21px
}

.choose_dates {
  color: #333;
  margin: 0;
  height: 40px;
  line-height: 24px
}

.search_head {
  position: relative;
  width: 568px;
  height: 86px;
  padding: 0;
  font-size: 21px;
  background-color: #766357;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  outline: none;
  z-index: 4
}

.search_head:focus,.search_head:hover {
  background-color: #604e43
}

.search_head:active {
  background-color: #503e33;
  color: hsla(0,0%,100%,.3)
}

.form_wrap .input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.form_find_hotel label {
  width: 112px;
  font-weight: 700;
  max-height: 30px;
  overflow: hidden;
}

.input_human input {
  position: relative
}

.adults:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000
}

.field_wrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
  padding: 0
}

.field_wrap input {
  text-align: center;
  width: 114px;
  min-height: 38px;
  height: 30px;
  box-sizing: border-box
}

.field_wrap button {
  width: 38px;
  height: 38px;
  background-color: transparent;
  outline: none;
  border: none
}

.field_wrap .plus {
  position: absolute;
  right: 0
}

.field_wrap .minus {
  position: absolute;
  left: 0
}

.field_wrap .plus:before {
  left: 50%;
  margin-left: -6px
}

.field_wrap .plus:after,.field_wrap .plus:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  background-color: grey
}

.field_wrap .plus:after {
  right: 50%;
  margin-right: -6px;
  transform: rotate(90deg)
}

.field_wrap .minus:after {
  position: absolute;
  content: "";
  right: 50%;
  margin-right: -6px;
  width: 12px;
  height: 3px;
  background-color: grey
}

.field_wrap .minus:focus:after,.field_wrap .minus:hover:after,.field_wrap .plus:focus:after,.field_wrap .plus:focus:before,.field_wrap .plus:hover:after,.field_wrap .plus:hover:before {
  background-color: #000
}

.field_wrap .minus:active:after,.field_wrap .plus:active:after,.field_wrap .plus:active:before {
  background-color: #81b3d2
}

.input_human.right label {
  width: auto;
  margin-right: 27px
}

.find_hotel input {
  border: 2px solid transparent;
  background-color: #f2f2f2;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase
}

.input_date {
  position: relative
}

.input_date button {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background-color: transparent;
  fill: #cacaca
}

.button_date:focus .icon,.button_date:hover .icon {
  outline: none;
  fill: #000;
  cursor: pointer
}

.button_date:active .icon {
  fill: #81b3d2;
  cursor: pointer
}

.input_date input {
  width: 346px;
  height: 38px
}

.input_human input {
  height: 38px;
  width: 114px
}

.input_human .kids {
  margin-right: 0
}

.input_human p {
  width: 225px
}

.find_hotel input:hover {
  background-color: #ebebeb;
  border: 2px solid transparent
}

.find_hotel input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5
}

.find button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  outline: none
}

.find button:focus,.find button:hover {
  background-color: #669ec0;
  cursor: pointer
}

.find button:active {
  background-color: #5496bd;
  color: hsla(0,0%,100%,.3)
}

.social_buttons {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  fill: #fff
}

.hash_tag {
  font-weight: 700;
  font-size: 21px
}

.created_by {
  display: flex;
  justify-content: center;
  align-items: center
}

.created_by a {
  margin-left: 8px;
  margin-top: 5px
}

.social_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-right: 6px
}

.social_buttons a:nth-child(3) {
  margin-right: 0
}

.social_buttons a:focus,.social_buttons a:hover {
  background-color: #669ec0
}

.social_buttons a:active {
  fill: hsla(0,0%,100%,.3)
}

.devops_link:hover .icon {
  fill: #81b3d2
}

.devops_link:active .icon {
  fill: #bdbbbc
}

.nav {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0;
  margin: 0;
  min-height: 56px;
  height: 45px
}

.nav li {
  flex-basis: 300px;
  box-sizing: border-box
}

.nav li:nth-child(3) {
  text-align: right;
  margin-right: 27px
}

.nav li:nth-child(4) {
  text-align: right;
  padding-right: 72px
}

.nav li:nth-child(2) {
  text-align: left;
  margin-left: 22px
}

.nav li:first-child {
  text-align: left;
  padding-left: 72px
}

.main_photo img {
  margin-top: 76px;
  margin-bottom: 75px
}

.main_footer {
  display: flex;
  position: relative;
  bottom: 0;
  background-color: #fff;
  opacity: .9;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  height: 100px
}

.main_footer p,.main_footer ul {
  width: 400px
}

.hash_tag {
  text-align: center
}

.form_find_hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 568px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden
}

.form_wrap p {
  margin: 0
}

.form_wrap .input {
  margin-bottom: 29px;
  text-align: left;
  line-height: 26px
}

.form_wrap .input_human {
  margin-bottom: 0
}

.form_wrap .find {
  margin-top: 56px
}

.form_wrap {
  transform: translateY(0);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 55px;
  transition: .3s ease
}

.form_wrap_close {
  transform: translateY(-395px);
  opacity: 0;
  pointer-events: none
}

.hotels_list {
  list-style: none
}

.inner_page h1 {
  margin: 0;
  font-size: 21px
}

.choose_hotel form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  min-height: 215px;
  padding: 30px 70px 28px 72px;
  box-sizing: border-box
}

.choose_hotel .filter_range {
  width: 170px;
  margin-left: auto
}

.price_controls {
  position: relative;
  width: 314px;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  text-align: left
}

.price_controls:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%,-50%);
  background: #fff
}

.range_controls {
  position: relative;
  margin-bottom: 32px
}

.range_controls .scale {
  height: 2px;
  background: hsla(0,0%,100%,.3)
}

.range_controls .bar {
  width: 80%;
  height: 2px;
  background: #fff
}

.range_toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer
}

.range_toggle:hover {
  transform: scale(1.1);
}

.range_toggle_min {
  left: 0
}

.range_toggle_max {
  left: 80%
}

.range_toggle:hover {
  background: #1c4f80
}

.btn_transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer
}

.btn_transparent:hover {
  color: #000;
  background: #fff
}

.show_results {
  width: 314px
}

.price_controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  margin-left: 65px
}

.price_controls label:nth-child(2) {
  margin-left: 70px
}

.checkbox_list {
  margin: 0;
  padding: 0
}

.checkbox_list li {
  margin-bottom: 23px;
  text-align: left
}

.checkbox_list li:last-child {
  margin-bottom: 0
}

.filter_column {
  margin: 0;
  margin-right: 115px
}

.filter_column:nth-child(2) {
  margin-left: 5px
}

.filter_column legend {
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
  text-align: left
}

.choose_hotel ul {
  list-style: none
}

.filter_column label {
  display: block;
  height: 23px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 40px
}

.checkbox+label:before {
  display: none;
  background-image: url(../img/checkbox-on.svg)
}

.checkbox+label:after,.checkbox+label:before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  left: 0
}

.checkbox+label:after {
  display: block;
  background-image: url(../img/checkbox-off.svg)
}


.checkbox:checked+label:before {
  display: block
}

.checkbox:checked+label:after {
  display: none
}

.choose_hotel fieldset {
  border: none;
  padding: 0
}

.filter_range {
  width: 330px
}

.filter_range legend {
  padding: 0;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left
}

.price_controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none
}

.found_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 31px 75px 31px 72px
}

.found_wrapper p {
  margin: 0;
  margin-top: 4px;
  margin-left: 46px;
  font-size: 12px;
  line-height: 18px;
  margin-right: 5px;
}

.found_wrapper .sort {
  margin: 0;
  margin-top: 4px;
  margin-left: 35px;
  color: rgba(0,0,0,.3);
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px
}

.found_wrapper .sort:active {
  color: #81b3d2;
  padding-bottom:1px;
  border: none
}

.arrows {
  margin-left: auto
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent
}

.arrow_up {
  border-bottom: 10px solid #cacaca
}

.arrow_down {
  margin-left: 12px;
  border-top: 10px solid #cacaca
}

.arrow_up:focus,.arrow_up:hover {
  border-bottom: 10px solid #000
}

.arrow_down:focus,.arrow_down:hover {
  border-top: 10px solid #000
}

.arrow_up:active {
  border-bottom: 10px solid #81b3d2
}

.arrow_down:active {
  border-top: 10px solid #81b3d2
}

.hotel_item {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey
}

.hotel_item:nth-child(2) {
  border: none
}

.hotel_item:last-child {
  margin: 0
}

.rate_wrapper {
  order: 2;
  margin-left: auto;
  margin-right: 72px
}

.hotel_wrapper {
  margin-left: 30px
}

.hotel_description {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0;
  margin-bottom: 5px
}

.main_header {
  position: relative
}

.main_header .logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0;
  z-index: 1
}

.hotel_preview {
  order: -1;
  margin-left: 72px
}

ul.hotels_list {
  padding: 0;
  margin: 0
}

.hotel_description span {
  color: #333
}

.hotel_item .more {
  margin-right: 6px
}

.hotel_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

@keyframes a {
  0%,to {
    transform: translateX(0)
  }

  10%,30%,50%,70%,90% {
    transform: translateX(-10px)
  }

  20%,40%,60%,80% {
    transform: translateX(10px)
  }
}

.submit_error {
  animation-name: a;
  animation-duration: 1s
}
