body {
  margin: 0px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  background-color: #ffffff;
}

.main_container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px -2px #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually_hidden {
  display: none;
}

.hotels {
  margin-top: 64px;
}

/* inner_page of sedona >>> */
.choose_hotel {
  background-image: url("../img/main-blurred.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}

.choose_hotel {
  color: #ffffff;
}

.current {
  color: #766357;
}

.button {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  line-height: 27px;
  padding: 0px 17px;
}

.more {
  background-color: #81b3d2;
}

.more:hover, .more:focus {
  background-color: #669ec0;
}

.more:active {
  color: rgba(255, 255, 255, 0.3);
}

.book {
  background-color: #766357;
}

.book:hover, .book:focus {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
}

.rate {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  vertical-align: middle;
  line-height: 27px;
}

.hotel_description span {
  color: #333333;
}

.stars_1 {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat;
}

.stars_2 {
  margin: 0;
  padding: 0;
  width: 55px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat;
}

.stars_3 {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat;
}

.hotel_name a:hover, .hotel_name a:focus {
  color: #81b3d2;
}

.hotel_name a:active {
  color: rgba(0, 0, 0, 0.5);
}

.hotel_name {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 14px;
}

.rate_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/*end of inner page */
.main_navigation {
  background-color: #ffffff;
}

.nav {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.nav a {
  color: #000000;
}

.nav a:hover,
.nav a:focus {
  color: #81b3d2;
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main_photo {
  position: relative;
  background-image: url("../img/main-back.jpg");
  background-position: top;
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  overflow: hidden;
}

.main_photo:after {
  position: absolute;
  content: "";
  display: block;
  width: 1200px;
  height: 60px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: 0;
}

.description {
  background-color: #ffffff;
  margin-top: 61px;
}

.sedona_info {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.great_sedona {
  color: #333333;
  margin-top: 38px;
  margin-bottom: 56px;
}

.advantages {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
}

.true_city {
  display: flex;
  height: 256px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing:border-box;
  padding-bottom: 20px;
  flex-wrap: wrap;
  background-color: #81b3d2;
  width: 400px;
  min-height: 256px;
  color: #ffffff;
}

.background_adv {
    height: 256px;
  background-image: url("..//img/sedona-1.jpg");
  background-repeat: no-repeat;
  background-position: right;
    background-color: #81b3d2;
}

.advant_name {
  font-size: 21px;
  line-height: 21px;
}

 .advant_text {
  margin: 0;
  margin-top: 21px;
}

.advant_list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  min-height: 300px;
  margin-bottom: 15px;
  background-color: white;
}

.advant_list div:first-child {
  margin-left: 72px;
}

.advant_list div:last-child {
  margin-right: 72px;
}
.list_1,
.list_2,
.list_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advant_list .advant_name {
  margin: 0;
  margin-top: 29px;
}

.advant_list .advant_text{
  margin-top: 21px;
}

.advant_list .icon {
  padding-top: 60px;
  order: -1;
}

.interested {
  font-size: 30px;
  line-height: 36px;
}


.search_head {
  text-transform: uppercase;
  font-weight: bold;
  width: 568px;
  height: 66px;
  background-color: #766357;
  font-size: 21px;
  color: #ffffff;
  border: none;
}

.search_head:hover,
.search_head:focus {
  background-color: #604e43;
}

.search_head:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form_wrap .input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form_find_hotel label
 {
  width: 112px;
}
.input_human.right label {
  width: auto;
}

.find_hotel h3 {
  font-weight: bold;
}

.find_hotel p {
  color: #333333;
}

.find_hotel input {
  border: 2px solid transparent;
  background-color: #f2f2f2;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
}

.input_date {
  position: relative;
}

.input_date button {
  position: absolute;
  top:8px;
  right: 8px;
  margin: 0;
  padding:0;
outline: none;
border: 0;
background-color: transparent;
fill:#cacaca;
}

.button_date:focus .icon,
.button_date:hover .icon{
outline: none;
fill: black;
}

.button_date:active .icon {
  fill: #81b3d2;
}
.input_date input {
  width: 346px;
  height: 38px;
}

.input_human input {
  height: 38px;
  width: 114px;
}
.input_human .kids{
margin-right: 0;
}

.input_human p {
  width: 225px;
}

.find_hotel {
  width: 1200px;
  margin-top:15px;
}

.find_hotel input:hover {
  background-color: #ebebeb;
  border: 2px solid transparent;
}

.find_hotel input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 21px;
}

.find button:hover, .find button:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.find button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social_buttons {
  list-style: none;
}

.hash_tag {
  font-weight: bold;
  float: left;
  font-size: 21px;
}

.social_buttons {
  fill: #ffffff;
}

.social_buttons {
  display: flex;
}

.social_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  width: 48px;
  height: 46px;
  margin-right: 6px;
}

.social_buttons a:nth-child(3) {
  margin-right: 0;
}

.social_buttons a:hover, .social_buttons a:focus {
  background-color: #669ec0;
}

.social_buttons a:active {
  fill: rgba(255, 255, 255, 0.3);
}

.created_by a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 132px;
}

.devops_link:hover .icon {
  fill:#81b3d2;
}

/* flex elements part 1 */
.nav {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0;
  margin: 0;
  min-height: 56px;
}

.nav li {
  flex-basis: 300px;
  box-sizing: border-box;
}

.nav li:nth-child(3),
.nav li:nth-child(4) {
  text-align: right;
}

.nav li:nth-child(4) {
  padding-right: 72px;
}

.nav li:first-child,
.nav li:nth-child(2) {
  text-align: left;
}

.nav li:first-child {
  padding-left: 72px;
}

.main_photo {
  min-height: 500px;
}

.main_photo img {
  margin-top: 60px;
}

.main_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-height: 120px;
}

.hash_tag {
  margin-left: 132px;
}

.form_find_hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 568px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 0 15px 0px rgba(0, 1, 1, 0.2);
}

.form_wrap p {
  margin: 0;
}

.form_wrap .input {
  margin-bottom: 29px;
}

.form_wrap .find {
  margin-top: 55px;
}

.form_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 55px;
}

.input_human input {
  margin-left: 20px;
}

.hotels_list {
  list-style: none;
}

.inner_page h1 {
  font-size: 21px;
}

.found_wrapper p:nth-child(3) {
  color: #81b3d2;
}

.found_wrapper p:nth-child(4),
.found_wrapper p:nth-child(5) {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.choose_hotel form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  min-height: 250px;
}

.choose_hotel .filter_range {
  align-self: flex-start;
  margin-left: 360px;
  margin-right: 70px;
  width: 330px;
}

.choose_hotel ul {
  list-style: none;
}

.price_controls {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price_controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 90px;
  padding-left: 65px;
}

.filter_range legend {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.found_wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
}

.found_wrapper p {
  padding-left: 45px;
}

.hotel_item {
  display: flex;
  align-items: stretch;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.rate_wrapper {
  order: 2;
  margin-left: auto;
  margin-right: 72px;
}

.hotel_wrapper {
  margin-left: 25px;
}

.hotel_description {
  text-align: left;
}

.main_header .logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0;
  z-index: 1;
}

.hotel_preview {
  order: -1;
  margin-left: 72px;
}

ul.hotels_list {
  padding: 0;
  margin: 0;
}

.hotel_description span {
  color: #333;
}

.hotel_item .more {
  margin-right: 6px;
}
